.photo-wrapper {
    .photo {
            text-align: center;
            img{
                margin: 0 auto;
                border: solid 20px #fff;
            }
    }
}

.photos-wrapper {

  .photo {
      float: left;
      margin: 0 1em 1em 0;
      width: 200px;
  }



  .photos-item {
    padding-bottom: 2em;
  }
  .right-photos {
    h3 {
      margin-top: 0;
    }
    .person {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-bottom: -5px;
      border: 2px solid $color-one;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        &.tag-label {
          background: $color-one;
          padding: 2px 5px;
          border-radius: 3px;
          font-size: .8rem;
          a, a:visited {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    .left-image {
      @include grid-span(3, 1);
    }
    .right-photos {
      @include grid-span(9, 4);
    }
  }
}
