	{% assign navurl = page.url | remove: 'index.html' %}
	{% assign rootclean = page.url | replace:'/',' ' | truncatewords: 1,""  | strip %}
	<ul class="menu">{% for item in include.nav %}	{% assign cleanlink =  item.url  | replace:'/',' ' | strip%}<li><a href="{{ item.url }}" class="{% if item.url == navurl or rootclean == cleanlink and page.layout == 'photo'%}active{% endif %}">{{ item.text }}</a></li>{% endfor %}<li class="snipcart-summary"><a href="#" class="snipcart-checkout">Checkout</a></li>
	</ul>
