.logo {
    a {
        text-decoration: none;
    }
    h1 {
        border-top: solid 8px #fff;
        display: inline-block;
        padding-top: 5px;
    }
  img {
    display: block;
    margin: 0 auto 0 auto;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      margin: 0;
    }
  }
}
