---
layout: page
---


<main>
  <section class="photo-wrapper wrap">

      <nav class="pagination" role="navigation">
        {% if page.previous %}
          <a href="{{ page.previous.url }}" class="" title="{{ page.previous.title }}">Older</a>
        {% endif %}
        {% if page.next %}
          <a href="{{ page.next.url }}" class="" title="{{ page.next.title }}">Newer</a>
        {% endif %}
      </nav><!-- /.pagination -->


    <div class="">
        <div class="photo clearfix">
              <img src="{{ page.image_path }}" alt="{{ page.title }}">
          </div>
    </div>

    <p><a href="/photos/">< Back to all photos</a></p>



  </section>
</main>
