---
layout: page
---

<!-- <section class="photos-preface">{{ content }}</section> -->

<section class="photos-wrapper">
<div class="grid-sizer"></div>
{% if page.url contains "usa" %}
{% assign type = site.usa %}
{% else if page.url contains "mexico"%}
{% assign type = site.mexico %}
{% endif %}
{% assign sorted = type | sort: 'order_number' %}
  {% for post in sorted %}
      <div class="photo">
        {% if post.image_path %}
          <a href="{{ post.url }}"><img src="{{ post.image_path }}" alt="{{ post.title }}"></a>
        {% endif %}
      </div>
  {% endfor %}

</section>
