---
layout: page
---
<main>
  <section class="photo-wrapper wrap">

      <a href="/{{ page.url | replace:'/',' ' | truncatewords: 1,"" }}" class="back" />
      <nav class="pagination" role="navigation">
        {% if page.previous %}
          <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="older">Older</a>
        {% endif %}
        {% if page.next %}
          <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="newer">Newer</a>
        {% endif %}
      </nav><!-- /.pagination -->

        <div class="photo clearfix">
              <img src="{{ page.image_path }}" alt="{{ page.title }}">
          <div class="photo-info">
              <span class="left">{{ page.title }}</span> <span class="right">{{ page.id_number }}</span>
          </div>
 </div>
    <div class="buy-now">
        {% assign photo-id = page.title |  replace:' ','-' | downcase | strip %}
                <button class="snipcart-add-item"
                 class="snipcart-add-item"
                 data-item-id="{{ page.id_number }}"
                 data-item-name="{{ page.title }}"
                 data-item-price="45.00"
                 data-item-weight="0"
                 data-item-url="{{site.url}}{{page.url}}""
                 data-item-custom1-name="Print Size and Framing Options"
                 data-item-custom1-options="6x7 Print Only - $45|6x7 Print Matted to 14x18 - $60[+15.00]|6x7 Print Framed to 16x20 - $115[+70.00]|12x15 Print Only - $80[+35.00]|12x15 Print Matted to 20x24 - $120[+75.00]|12x15 Print Framed to 22x26 - $225[+180.00]|20x24 Print Only - $135[+90.00]|20x24 Print Matted to 20x24 - $190[+145.00]">Buy now</button>
    </div>




  </section>
</main>
